| Team Ownership Transfer
| You've been invited to take ownership of #{team_name}
| To view and accept this invitation, navigate to the link below. This link expires in 24 hours, or if the current owner sends a new invite or cancels the current one.
| #{cta_url}