extends ../transactional

block icon
    img(src="assets/envelope.png" alt="mail" width=80)

block title
    span.title Verify Your Email

block subtitle
    span.subtitle Please verify your email to use CCLR6

block subcontent
    tr
        td(align="left")
            p To verify your email, please click the button below
    tr
        td(align="center")
            a.cta-button(href=`${cta_url}`) Verify Email