rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        match /teams/{team} {
            allow read: if true;

            allow create: if request.auth != null;

            allow update: if request.auth != null && resource.data.owner == request.auth.uid;

            match /payments/{payment} {
                allow read, write: if request.auth != null;
            }

            function teamData() {
                return get(/databases/$(database)/documents/teams/$(team)).data;
            }

            match /players/{player} {
                allow read: if request.auth != null;
                allow write: if request.auth != null && teamData().owner == request.auth.uid;
            }

            match /registrations/{registration} {
                allow read: if request.auth != null;
                allow write: if request.auth != null && teamData().owner == request.auth.uid;
            }
        }

        match /invitations/{invitation} {
            allow read, write: if true;
        }
    }
}