extends ./layout

block content
    tr
        td(align="center" valign="bottom" colspan="2" cellpadding="3")
            block icon
    tr
        td(height=20)
    tr
        td(align="center")
            block title
    tr
        td(height=10)
    tr
        td(align="center")
            block subtitle
    tr
        td(height=15)
    tr
        td.divider(height=1)
    tr
        td(height=10)
    block subcontent