extends ../transactional

block icon
    img(src="assets/envelope.png" alt="mail" width=80)

block title
    span.title Your Team Invite

block subtitle
    span.subtitle You've been invited to join:
    br
    span.attention #{team_name}

block subcontent
    tr
        td(align="left")
            p If you would like to join this team, please click the button below and view the invite to accept it.
    tr
        td(align="center")
            a.cta-button(href=`${cta_url}`) View Invite