extends ../transactional

block icon
    img(src="assets/trophy.png" alt="trophy" width=80)

block title
    span.title Your Registration

block subtitle
    span.subtitle You've been registered for
    br
    span.attention #{event_name}

block subcontent
    tr
        td(align="left")
            p More details coming shortly on where you can find this event!.
    //tr
    //    td(align="center")
    //        a.cta-button(href=`${cta_url}`) View Tournament
