| Team Transfer Successful
| Your Team #{team_name} has been successfully transferred to user with the email #{user_email}
| If this was not authorized by you, or you believe it was done on accident, please email us at support@cclr6.com