@import "navigation";
@import "teams";
@import "rulebook";
@import "posts";
@import "table";
@import "faq";

.page-content {
  @apply py-2 px-6 lg:px-16;
}

.text-content {
  @apply max-w-6xl mx-auto;
}

.social-button {
  @apply focus:outline-none flex flex-row items-center justify-center w-full rounded-md border-gray-300 py-1.5 tracking-tight font-semibold transition-colors duration-150;
}

.navigation-item {
  @apply transition-all duration-150 uppercase font-heavy font-semibold px-2 text-2xl  hover:text-primary hover:underline cursor-pointer;
}

.privacy-policy {
  p {
    @apply font-normal text-alt;
  }

  p.subheader {
    @apply mt-6;
  }


  p > strong {
    @apply font-bold text-main text-xl pt-4 leading-8;
  }

  a {
    @apply text-blue-500 hover:text-blue-600;
    transition: color 0.3s ease;
  }
}


.bordered {
  @apply dark:bg-gray-900 bg-white dark:border-gray-800 border-gray-300;
}

.bordered.disabled {
  @apply dark:bg-gray-800 dark:border-gray-700 bg-gray-200;
}

.primary-loading {
  @apply bg-gradient-to-r from-primary via-red-300 to-primary;

  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: shine 1.2s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}

.text-subtitle {
  @apply text-main text-xl font-semibold;
}

.text-subtitle-description {
  @apply text-alt-2 text-base font-medium;
}

.text-line {
  @apply flex flex-row items-center;
}

.text-main {
  @apply text-gray-900 dark:text-gray-50;
}

.text-alt {
  @apply text-gray-700 dark:text-gray-200;
}

.text-alt-2 {
  @apply text-gray-600 dark:text-gray-400;
}

.text-link {
  @apply text-primary hover:text-red-500 transition-colors duration-150;
}

.base-title {
  @extend .text-main;
  @apply font-heavy font-bold uppercase;
}

.page-title {
  @extend .base-title;
  @apply text-5xl;
}

.page-title-sm {
  @extend .base-title;
  @apply text-3xl;
}


.about {
  @apply flex justify-center items-center flex-col py-6;
  .hero-title {
    @apply block font-heavy text-center text-5xl md:text-6xl font-medium uppercase;
  }

  .cards {
    & > div {
      @apply p-6;
    }

    @apply flex flex-col md:flex-row;

    .title {
      @apply pb-4 font-heavy text-center tracking-tight text-3xl font-semibold uppercase;
    }

    .content {
      @apply tracking-tighter font-medium max-w-md mx-auto text-base text-center;
    }
  }
}

.watch-tabs {
  .chakra-tabs__tab:focus {
    box-shadow: none !important;
    @apply focus:outline-none outline-none;
  }

  .chakra-tabs__tab {
    box-shadow: none !important;
    @apply text-gray-600 dark:text-gray-400 outline-none;
  }
}

.player-wrapper {
  .chakra-form-control {
    margin-bottom: 0.5em !important;
  }
}

.chakra-form__label {
  @extend .text-alt;
}

.chakra-breadcrumb__list-item > a {
  @apply transition-colors duration-200
}

.chakra-breadcrumb__list-item > span {
  cursor: default;
}

.chakra-breadcrumb__list-item > a:hover {
  @apply underline text-red-500
}

.twitter-button {
  @apply transition-colors duration-150;
  background: #1DA1F2 !important;
}

.twitter-button:hover {
  background: #00B6F1 !important;
}

.primary-button {
  @apply transition-colors duration-150 hover:bg-red-600;
  background: #e50a25 !important;
}
