extends ../transactional

block icon
    img(src="assets/link.png" alt="link" width=80)

block title
    span.title Password Reset

block subtitle
    span.subtitle The password reset you requested

block subcontent
    tr
        td(align="left")
            p If this was not you or you believe it was created by mistake, ignore this email. If this was you, click on the button below.
    tr
        td(align="center")
            a.cta-button(href=`${cta_url}`) Reset Password